		/* FORM STYLE SHEET */

		.infoTextStyle {
            color: #0F52BA;
            font: 15px Brittania, sans-serif;
            font-weight: 600;
            line-height: 150%;
        }

        .sectionOneStyle {
            border-style: groove;
			border-color: #0F52BA;
            margin-left: 20px;
            margin-right: 100px;
            padding-bottom: 100px;
            padding-top: 20px;
            width: 400px;
			margin-top: 35px;
        }

        .sectionOnePanelStyle1 {
            float: left;
            border-style: dashed;
            width: 150px;
            margin-left: 22px;
            margin-top: 10px;
            margin-bottom: 15px;
            padding: 5px;
        }

        .sectionOnePanelStyle2 {
            float: right;
            border-style: dashed;
            width: 150px;
            margin-right: 22px;
            margin-top: 10px;
            margin-bottom: 15px;
            padding: 5px;
        }